<!-- NOTE: This is a common component of all sites, so styles are contained in the generally-scoped /style/style.css -->
<footer id="footer">
    <div class="inner-container footer-rows">
        <div class="footer-box">
            <h2>Follow Us</h2>
            <div class="footer-box-social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h2>Reference Links</h2>
            <div class="footer-box-links">
                <a href="blogPosts.html">Blog</a>
                <a href="calculator.html">Homebuyer Calculators</a>
                <a href="about.html">About Us</a>
                <a href="#">Terms and Conditions</i></a>
            </div>
        </div>
        <div class="footer-box">
            <h2>Contact</h2>
            <div class="footer-box-address">
                <p><b>First Time Homebuyer, Inc.</b></p>
                <p>123 Plantation Drive</p>
                <p>North Charleston, SC 29406</p>
                <p>(123) 888-2229</p>
            </div>
        </div>
    </div>
</footer>