<header id="header-nav">
    <div class="inner-container">
        <div class="nav-innerContainer">
            <div class="nav-logo">
                <a href="index.html">
                    <img src="img/logo.png" alt="First Time Homebuyer - Home"
                        width="160" height="65" id="logo-img" />
                </a>
            </div>   

            <nav>
                <ul class="nav-group">
                    <li class="nav-menuItem">
                        <a class="nav-menuItem-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-menuItem">
                        <a class="nav-menuItem-link" href="blogPosts.html">Blog</a>
                    </li>
                    <li class="nav-menuItem">
                        <a class="nav-menuItem-link" href="FAQ.html">FAQ</a>
                    </li>
                    <li class="nav-menuItem">
                        <a class="nav-menuItem-link" href="about.html">About</a>
                    </li>
                    <li class="nav-menuItem">
                        <a class="nav-cta-link" href="calculator.html">Calculators</a>
                    </li>
                </ul>

                <div class="nav-hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </div>
    </div>
</header>