{{>header}}

<section class="content-header">
    <div class="inner-container">
        <h1 class="page-heading">
            How To Plan Ahead: Saving Money for a House
        </h1>
    </div>
</section>
<main class="main-content">
    <div class="inner-container">
        This is the content with actual formatting!
    </div>
</main>

{{>footer}}