{{>header}}

<section id="main-carousel">
    <div class="inner-container">
        <div class="carousel-wrapper">
            <button class="slide-arrow" id="slide-arrow-prev">
                &#8249;
            </button>

            <button class="slide-arrow" id="slide-arrow-next">
                &#8250;
            </button>

            <ul class="slides-container" id="slides-container">
                <li class="slide" style="background-color:red"></li>
                <li class="slide" style="background-color:white"></li>
                <li class="slide" style="background-color:blue"></li>
                <li class="slide" style="background-color:yellow"></li>
            </ul>
        </div>
    </div>
</section>

<main class="main-content">
    <div class="inner-container">
        <div class="greet-box">
            <h4>Take the first step.</h4>
            <h4 class="emphasis-header">Remove all the worry.</h4>
            <p class="center" style="max-width:500px">
                A source of information made by experienced realtors and buyers alike, to take the gloom out of buying your first home.
            </p>
        </div>
        <div class="cards-row">
            <div class="card">
                <div class="card-image">
                    <img src="/img/sample.webp" alt="sample!"/>
                </div>
                <div class="card-header">
                    <h4>Get all the information you need</h4>
                </div>
                <div class="card-description">
                    <p>Our blog provides an updated, reliable and accessible source of information.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/img/sample.webp" alt="sample!"/>
                </div>
                <div class="card-header">
                    <h4>Get all the information you need</h4>
                </div>
                <div class="card-description">
                    <p>Our blog provides an updated, reliable and accessible source of information.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/img/sample.webp" alt="sample!"/>
                </div>
                <div class="card-header">
                    <h4>Get all the information you need</h4>
                </div>
                <div class="card-description">
                    <p>Our blog provides an updated, reliable and accessible source of information.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<section id="sales-metrics">
    <div class="inner-container">
        <h1>2387+</h1>
        <h5>New buyers in their dream home</h5>
        <p>With our guidance, new families can advance in their lives with the peace of mind that a home provides.</p>
        <a href="blogPosts.html" id="sales-metrics-cta">Start your journey</a>
    </div>
</section>

{{>footer}}