{{>header}}

<!-- Just a section identifier for the carousel -->
<section id="main-carousel">
    <!-- Standard inner-container div, to make the content be centered and have a fixed width -->
    <div class="inner-container">
        <div class="carousel-wrapper">
            <!-- Button to move the slide to the left -->
            <button class="slide-arrow" id="slide-arrow-prev">
                &#8249; <!-- Character code for left chevron -->
            </button>
            <!-- -->
            <button class="slide-arrow" id="slide-arrow-next">
                &#8250; <!-- Character code for right chevron -->
            </button>
            <!-- List of all the slides that will be translated to the left or right depending on selction -->
            <ul class="slides-container" id="slides-container">
                <!-- Using Handlebars to avoid repetition. Slides content is defined in /data/slides.json -->
                {{#each carouselSlides}}
                    <!-- Individual slides -->
                    <li class="slide" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('{{path}}');">
                        <div class="slide-description">
                            <h1><a href="blogPosts.html">{{title}}</a></h1>
                            <h3>{{subTitle}}</h3>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>

<!-- Main focus content of the page -->
<main class="main-content">
    <!-- Standard inner-container div, to make the content be centered and have a fixed width -->
    <div class="inner-container">
        <div class="greet-box">
            <h4>Take the first step.</h4>
            <h4 class="emphasis-header">Remove all the worry.</h4>
            <p class="center" style="max-width:500px">
                A source of information made by experienced realtors and buyers alike, to take the gloom out of buying your first home.
            </p>
        </div>
        <div class="cards-row">
            <div class="card">
                <div class="card-image">
                    <img src="/img/sample.webp" alt="sample!"/>
                </div>
                <div class="card-header">
                    <h4>Get all the information you need</h4>
                </div>
                <div class="card-description">
                    <p>Our blog provides an updated, reliable and accessible source of information.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/img/sample.webp" alt="sample!"/>
                </div>
                <div class="card-header">
                    <h4>Get all the information you need</h4>
                </div>
                <div class="card-description">
                    <p>Our blog provides an updated, reliable and accessible source of information.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/img/sample.webp" alt="sample!"/>
                </div>
                <div class="card-header">
                    <h4>Get all the information you need</h4>
                </div>
                <div class="card-description">
                    <p>Our blog provides an updated, reliable and accessible source of information.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<section id="sales-metrics">
    <div class="inner-container">
        <h1>2387+</h1>
        <h5>New buyers in their dream home</h5>
        <p>With our guidance, new families can advance in their lives with the peace of mind that a home provides.</p>
        <a href="blogPosts.html" id="sales-metrics-cta">Start your journey</a>
    </div>
</section>

{{>footer}}